<div class="container flex justify-center align-center flex-col gap-4 ">
    <p class="title_404 text-3xl font-bold text-center mt-96">
        Page not found
    </p>
    <a href="" class="button_404 block bg-purpleCustom max-w-max p-4 mx-auto font-bold text-white">
        Continue Shopping
    </a>
</div>