.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.dropdown_el {
	margin-top: 40px;
	transition: 0.4s;
	opacity: 0;
	pointer-events: none;
}
.dropdown_el.active {
	opacity: 1;
	margin-top: 20px;
	pointer-events: all;
}
